.Settings {
  position: absolute;
  right: 0.2rem;
  top: 1rem;
  display: flex;
  background-color: rgb(46, 148, 134);
  padding: 1rem;
  border-radius: 1rem;

  &-toggle-button {
    border-radius: 100%;
    width: 25px;
    height: 25px;
  }

  form {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;

    input {
      margin-bottom: 0.5rem;
    }
  }
}
